<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>The King of Pop Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header role="banner">
    <div class="discoball">
      <div class="row">
        <span class="subTitle">The King of Pop</span>
        <h1>Quiz</h1>
      </div>
    </div>
  </header>
  <form>
    <main role="main">
      <div class="row">
        <div class="col-12 coverWrapper">
          <img class="imgCover topImage" src="/images/Cover.jpg" alt="Michael Jackson's Thriller Album Cover" / >
        </div>
      </div>
      <div id="introWrapper" >
        <div class="row">
          <div class="col-12">
            <h2 class="textInverse">How much do you know about the "King of Pop"<br/>Michael Jackson?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="startQuiz next" role="button" aria-pressed="false">
              Start Quiz
            </button>
          </div>
        </div>
      </div>  
      <div class="col-12 validator hidden">
          Please choose an answer!
      </div>
      <div class="js-questionAnswerWrapper textInverse">        
      </div>
    </main>
</form>
  <footer>
    <section role="content" class="footerWrapper footerTable hidden">
      <div class="col-12">
          <div class="textInverse">Question <span class="js-questionIndex"></span> of <span class="js-questionCount"></span></div>          
      </div>
      <div class="col-12 score hidden">
          <div class="textInverse">Score: <span class="js-score-correct"></span> Correct, <span class="js-score-incorrect"></span> Incorrect</div>
      </div>
    </section>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script type="text/javascript" src="../js/quiz.js"></script>
</body>
</html>